<html>
  <head>
    <title>Poetic | Home</title>
    <link rel="shortcut icon" href="/assets/book-favicon.ico" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="/assets/poems.js"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  <head>
  <body>
    <div id="poem_div">
      <%- include poem.ejs %>
    </div>
    <button id="like-button" class="rating"> Like </button>
    <button id="dislike-button" class="rating"> Dislike </button>
    <button id="clear"> Clear Poems </button>
  <body>
</html>
