<div id="poem" data-id=<%= poems.poem_id %>>
  <h1><%= poems.title %></h1>
  <% for(var i=0; i<poems.lines.length; i++){ %>
    <p><%= poems.lines[i] %></p>
  <% } %>
  <h2><%= poems.author%><h2>
</div>
